@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Thin.ttf") format("truetype"); /* Poprawiona ścieżka do pliku */
}

@font-face {
  font-family: "Edwardian";
  src: url("../../assets/fonts/Edwardian Script ITC.ttf") format("truetype"); /* Poprawiona ścieżka do pliku */
}

/* Styl dla sekcji */
section {
  margin-bottom: 50px;
}

/* Styl dla sekcji "Witajcie w świecie zieleni!" */
.about-section {
  display: flex;
  align-items: stretch;
}

.about-text {
  width: 50%; /* Tekst zajmuje 60% szerokości */
  padding: 0 20px; /* Dodaj wewnętrzne marginesy dla lepszego wyglądu */
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

.about-image {
  width: 50%; /* Zdjęcie zajmuje 40% szerokości */
  height: auto; /* Dopasuj wysokość do kontenera */
  overflow: hidden; /* Ukryj ewentualne części obrazu, które wykraczają poza kontener */
  position: relative;
}

.about-image img {
  width: 100%; /* Dostosuj szerokość obrazu do szerokości kontenera */
  height: 100%; /* Dostosuj wysokość obrazu do kontenera */
  object-fit: cover; /* Zachowaj proporcje obrazu i przyciąć go, aby dopasować do kontenera */
}

/* Styl dla nagłówka h2 */
h2 {
  margin-bottom: 50px;
}
