@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Edwardian";
  src: url("../../assets/fonts/Edwardian Script ITC.ttf") format("truetype");
}
.kontakt-text {
  margin-top: 130px;
  margin-bottom: 550px;
  position: center;
  color: #07240d;
  font-family: "Montserrat", sans-serif;
}
.kontakt-text div {
  margin-bottom: 30px;
}
.data {
  color: #07240d;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}
.kontakt-data {
  width: 50%;
  font-size: 20px;
}
